@include font-face('Aleo Regular', url('../fonts/aleo/Aleo-Regular.otf'), $weight: normal, $style: normal);

body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}