.choose {
    background: url('../images/choose.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.choose-us__row {
    padding-bottom: 120px;
}

.choose-us__text-block {
    margin-top: 204px;
    
}

.choose-us__text-block input[type="submit"] {
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5474fd;
    font-size: 16px;
    letter-spacing: 1.2px;
    border: none;
    font-weight: 400;
    font-family: 'Aleo Regular';
    transition: .3s;
    
    &:hover {
        background: #ff6363;
    
    } 
}

.choose-us__title {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 62px;
    font-weight: 400;
    font-family: 'Aleo Regular';
}

.choose-us__text {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 48px;
    text-align: justify;
    font-weight: 400;
}

.choose-us__images-block {
    margin-top: 120px;
}

.choose-image {
    width: 350px;
    height: 220px;

    &:first-child {
        margin-bottom: 5px;
    }

    &:last-child {
        float: right;
    }
}

.choose__footer {
    height: 377px;
    background: #333333;
}

.choose__footer__link {
    color: #e8e8e8;
    font-size: 36px;
    line-height: 26px;
    font-weight: 400;
    transition: .3s;
}

.choose__footer__list {
    margin: 80px auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choose__footer {
    display: flex;
    padding-top: 50px;
}

.choose__footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.choose__footer__item:first-child:hover .choose__footer__link {
    color: #ff6363;
}

.choose__footer__item:first-child:hover .fill_pink {
    fill: #ff6363;
}


.choose__footer__item:nth-child(2):hover .choose__footer__link {
    color: #5474fd;
}

.choose__footer__item:nth-child(2):hover .fill_blue {
    fill: #5474fd;
}


.choose__footer__item:last-child:hover .choose__footer__link {
    color: #96b92c;
}

.choose__footer__item:last-child:hover .fill_green {
    fill: #96b92c;
}

.choose__footer__item_title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Aleo Regular';
}

.choose__footer__svg {
    position: absolute;
    top: -80px;
    left: 90px;
    transition: .3s;
}