.header {
    background: url('../images/header.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

    &__title__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 265px;
        margin-bottom: 50px;
    }
}


.header__title {
    text-transform: uppercase;
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: 4.8px;
    font-weight: 400;   
}

.header__title__text {
    font-size: 22px;
    margin: 0;
    letter-spacing: 6.82px;
    font-weight: 400;
}

.search__form {
    position: relative;
    background: #ffffff;
    margin-bottom: 120px;
    padding-right: 2px;
    padding-top: 2px;
}

.search__form input[type="search"] {
    width: 500px;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #999999;
    font-size: 14px;
    text-align: center;
    border: none;
}

.search__form input[type="submit"] {
    width: 150px;
    height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    background: #5474fd;
    padding-right: 10px;
    border: none;
    font-family: 'Aleo Regular';
    letter-spacing: 1.4px;
    border: none;
    transition: .3s;
    
    &:hover {
        background:  #ff6363;
    }
}

.loupe {
    position: absolute;
    top: 20px;
    right: 20px;
}

.scroll__link {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2.8px;
    animation: scroll-move 2s ease-in-out infinite;
}

.scroll__title {
    transition: .3s;
}

.scroll__image {
    position: absolute;
    top: 15px;
    left: 40px; 
    transition: .3s;
}

.scroll__blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 134px;
    animation-name: move;
    animation-duration: 3s; 
    animation-iteration-count: infinite;

    @keyframes move {
                
        0% {
            transform: translateY(0px);
        }

        
        50% {
            transform: translateY(20px);
            
        }

        100% {
            transform: translateY(0px);
        }
    }
}


.scroll__blok:hover .scroll__image {
    fill: #ff6363;
}

.scroll__blok:hover .scroll__title {
    color: #ff6363;
}
 
.header__footer__menu__item {
    display: inline-block;
    font-weight: 14px;
    margin: 0;
    padding: 0;
    margin-right: 41px;
}

.header__footer__menu__link {
    color: #ffffff;
    font-family: 'Aleo Regular';
    transition: .3s;

    &:hover {
        color: #092042;
    }
}

.footer__header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #5474fd;
  text-transform: uppercase;
}

.logo {
    font-size: 24px;
    letter-spacing: 2.4px;
}